<form autocomplete="off">
    {{> "bleachd20.advancement-controls"}}
    <div class="form-group">
        <label>{{localize "BLEACHD20.HitDie"}}</label>
        <span class="form-field-readonly">{{hitDie}}</span>
    </div>
</form>
