<div>
    <search aria-label="{{ localize "BLEACHD20.CompendiumBrowser.Filters.SearchResults" }}">
        <input type="text" name="name" placeholder="{{ localize "BLEACHD20.CompendiumBrowser.Filters.SearchResults" }}">
        <ul class="unlist controls">
            <li>
                <button type="button" class="unbutton filter-control" data-action="clearName"
                        data-tooltip="BLEACHD20.FilterClear" aria-label="{{ localize "BLEACHD20.FilterClear" }}">
                    <i class="fas fa-xmark"></i>
                </button>
            </li>
        </ul>
    </search>
</div>
